body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* CONTENIDO DE LA PÁGINA */

main{
    margin: 1rem;
}
div.row-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.column-page-1, div.column-page-2, div.column-page-3, div.column-page-4{
    padding: 1rem !important;
    width: 15rem !important;
    height: 15rem !important;
    font-size: x-large !important;
}
div.column-page-1, div.column-page-3, div.column-page-4{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #ffff00;
}
div.column-page-2{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    /* CONTENIDO DE LA PÁGINA */

    div.column-page-1, div.column-page-2, div.column-page-3{
        margin-right: 1rem !important;
    }
    div.column-page-1, div.column-page-2, div.column-page-3, div.column-page-4{
        padding: 1rem !important;
        width: 12rem !important;
        height: 12rem !important;
        font-size: larger !important;
    }
}

@media screen and (max-width: 768px) {
    /* CONTENIDO DE LA PÁGINA */
    
    div.column-page-1, div.column-page-2, div.column-page-3, div.column-page-4{
        padding: .7rem !important;
        width: 9rem !important;
        height: 9rem !important;
    }
}

@media screen and (max-width: 430px) {
    /* CONTENIDO DE LA PÁGINA */
    
    div.row-page{
        display: block !important;
    }
    div.column-page-1, div.column-page-2, div.column-page-3{
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }
    div.column-page-1, div.column-page-2, div.column-page-3, div.column-page-4{
        padding: 1rem !important;
        width: 15rem !important;
        height: 15rem !important;
        font-size: x-large !important;
    }
}

@media screen and (max-width: 320px) {
    /* CONTENIDO DE LA PÁGINA */
    
    div.column-page-1, div.column-page-2, div.column-page-3, div.column-page-4{
        padding: 1rem !important;
        width: 12rem !important;
        height: 12rem !important;
        font-size: large !important;
    }
}